﻿@model IEnumerable<Retirement_Application.Models.CotAdjReason>

@{
    ViewData["Title"] = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>COT Adj Reason</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emplid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Effdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotAdjReason1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emplid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Effdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotAdjReason1)
            </td>
            <!--
    <td>
        <a asp-action="Edit" asp-route-id="@item.Emplid">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Emplid">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Emplid">Delete</a>
    </td>
    -->
        </tr>
}
    </tbody>
</table>
