﻿@model Retirement_Application.Models.SalaryDatum

@{

    ViewData["Title"] = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>





<h4>COT Adj Reason</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CotAdjReasonsResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emplid" class="control-label"></label>
                <input asp-for="Emplid" class="form-control" />

                <span asp-validation-for="Emplid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}