﻿@model IEnumerable<Retirement_Application.Models.CotAdjReason>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Effective Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotAdjReason1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Effdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotAdjReason1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Emplid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Emplid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Emplid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
