﻿@model Retirement_Application.Models.SalaryDatum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalaryDatum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenSsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenSsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireSsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireSsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceSsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceSsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <!--
        <dt class = "col-sm-2">
          
        </dt>
        <dd class = "col-sm-10">
     
        </dd>
            -->
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Emplid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
